*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding: 20px 0;
}

.header-box{
    width: 100%;
    height: 450px;
    background: pink;
    box-shadow: 0 0 10px black;
    border-radius: 30px;
}